/*********************
POSTS WIDGETS STYLES
*********************/
.container-fluid.posts .buttons>a {
    line-height: 30px;
    font-size: 16px;
    font-weight: 600;
    color: #009688;
    text-decoration: none;
}
.container-fluid.posts .buttons>a:active, .container-fluid.posts .buttons>a:hover {
    text-decoration: none;
}
.container-fluid.posts .widget .panel-heading {
    padding-top: 10px;
    color: #f05a75;
    font-size: 18px;
    height: 60px !important;
    line-height: 43px;
    font-weight: 600;
}
.container-fluid.posts .widget.spintax>div>.panel-heading {
    color: #5A688B;
    margin-bottom: 15px;
}
.container-fluid.posts .widget .panel-heading .btn-group {
    margin-top: 5px;
}
.container-fluid.posts .widget .panel-heading .btn-group .btn-default {
    border: 1px solid #CDCDCD;
    background-color: #ffffff;
}
.container-fluid.posts .widget .panel-heading .btn-group .btn-default:hover {
    color: #666666;
    border-color: #666666;
}
.container-fluid.posts .widget.spintax .panel-heading {
    color: #5A688B;
}
.container-fluid.posts .widget.planner .panel-heading>.loading-image {
    margin: 10px 3px auto;
}
.container-fluid.posts .widget.planner .add-repeat.active {
    border: 1px solid #f05a75 !important;
}
.container-fluid.posts .widget.planner .list-group-item {
    background: #fff;
    border-radius: 3px;
    border: 1px solid #CDCDCD !important;
    margin: 15px 0 0;
    height: 47px;
    padding: 10px 5px;
}
.container-fluid.posts .widget.planner .list-group {
    margin-bottom: 0;
}
.container-fluid.posts .widget.planner .list-group-item>div {
    padding: 0 5px !important;
}
.container-fluid.posts .widget.planner .list-group-item>div>a{
    display: block;
    background-color: #F05A75;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 0.25rem 0.3rem;
}
.container-fluid.posts .widget.planner .list-group-item>div>a:hover {
    background-color:#ea8e9f;
    text-decoration: none;
}
.container-fluid.posts .widget.planner .list-group-item input, .container-fluid.posts .widget.planner .list-group-item select {
    border: 1px solid #ccc;
    color: #999;
    border-radius: 3px;
    padding: 0.15rem 0.3rem;
    width: 100%;
}

/*********************
CALENDAR WIDGETS STYLES
*********************/
.calendar-widget {
    min-height: 280px;
    width: 100%;
    background-color: #ffffff;
    display: none;
    padding: 15px 15px 5px;
}
.calendar-widget .panel-content {
    width: 100%;
}

.calendar-widget table {
    width: 100%;
}

.calendar-widget table th {
    height: 35px;
}

.calendar-widget table th a {
    color: #7ac3ff;
}

.calendar-widget table td {
    text-align: center;
    height: 40px;
    font-weight: 600;
}

.calendar-widget table td a {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: inline-block;
    line-height: 30px;
    font-size: 14px;
    color: #282f34;
}

.calendar-widget table td .past-days {
    pointer-events: none;
    color: #8696a2;
}            

.calendar-widget table td .current-day {
    background-color: #f5f5f5;
    color: #282f34;
    text-decoration: none;
}

.calendar-widget table td a:hover, table td a:active, table td a.add-date {
    background-color: #dddddd !important;
    color: #282f34;
    text-decoration: none;
}

.calendar-widget table.iso td:nth-child(6) a, .calendar-widget table.iso td:nth-child(7) a, .calendar-widget table.iso td:nth-child(6), .calendar-widget table.iso td:nth-child(7) {
    color: #c24a45;
}

.calendar-widget table.usa td:first-child a, .calendar-widget table.usa td:nth-child(7) a, .calendar-widget table.usa td:first-child, .calendar-widget table.usa td:nth-child(7) {
    color: #c24a45;
}
.calendar-widget ul {
    overflow-x: auto;
    height: 217px;
}
.calendar-widget .form-control {
    border-radius: 0;
    margin-bottom: 15px;
}
.calendar-widget .list-group-item {
    padding: 0 10px;
    padding: 0 10px;
    line-height: 35px;
    border-bottom: 1px solid #dddddd;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0;
}
.calendar-widget .list-group-item.selected-time {
    background-color: #f9f9f9;
}